<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi,</h1>
    <p>
      You recieved an application for <%= @job_applicant.applying_for %> post.
    <br>
    <p>Details of candidate :</p><br>
    <p>Name:&nbsp;<%= @job_applicant.name %><br>Email Id:&nbsp; <%= @job_applicant.emailid %><br>Contact No:&nbsp; <%= @job_applicant.contact_no %><br>Attachment:&nbsp;<%= @job_applicant.attachment %></p></p>
  </body>
</html>
