<%= form_for(@jobposting) do |f| %>
  <% if @jobposting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jobposting.errors.count, "error") %> prohibited this jobposting from being saved:</h2>

      <ul>
      <% @jobposting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
    <%= f.label :S_No %><br>
    <%= f.text_field :S_No %>
  </div>
  <div class="field">
    <%= f.label :Posted_On %><br>
    <%= f.date_select :Posted_On %>
  </div>
  <div class="field">
    <%= f.label :Job_Title %><br>
    <%= f.text_field :Job_Title %>
  </div>
  <div class="field">
    <%= f.label :CTC %><br>
    <%= f.text_field :CTC %>
  </div>
  <div class="field">
    <%= f.label :Job_Description %><br>
    <%= f.text_area :Job_Description %>
  </div>
  <div class="field">
    <%= f.label :Req_Experience %><br>
    <%= f.text_area :Experience_Req %>
  </div>

  <div class="actions">
    <%= f.submit "Post Job" %>
  </div>
<% end %>
<%= link_to "Logout", destroy_admin_session_path, :method => :delete %> | <%= link_to "Back", :controller=>"homepage", :action=>"admin_page" %> |
